body {
    background-color: #2F5663;
    color: #fff; /* Color de texto blanco */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 20px;
}

p {
    text-align: justify;
    
    font-style: italic;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #ddd;
    color: #333;
}

img {
    display: block;
    margin: auto;
    margin-top: 20px;
    max-width: 100%;
    height: auto;
}
