body {
    background-color: #2F5663;
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    margin: auto;
    margin-top: 20px;
    max-width: 100%;
    height: auto;
}

h1 {
    text-align: center;
    padding: 20px;
}

h2 {
    text-align: left;
    padding: 20px;
}  

p {
    text-align: justify;
    padding: 0 20px;
}

form {
    text-align: center;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

select, input {
    padding: 10px;
    margin-bottom: 20px;
    width: 60%;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}
